html { overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #333;
}

#info-top {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
}

a { color: #fc0; }

#progress-wrapper {
  border: 1px solid #005d98;
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 16px;
  height: 200px;
}

#progress {
  background: #005d98;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 0%;
}

#progress-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 18px;
  color: #005d98;
  text-align: left;
  position: fixed;
  bottom: 18px;
  right: 20px;
}

/* stats */
#fps, #ms { background: transparent !important; }
#fpsText, #msText { color: #777 !important; }
#fpsGraph, #msGraph { display: none; }

@media (max-width: 800px) {
  .dg { display: none; }
}